// Variables
$white: #ffffff;
$gray-md: #4d4d4d;
$gray-dark: #333;
$ez-blue-dark: #192745;
$box-shadow: rgba(25, 39, 69, 0.4);
$padding: 20px;

.sourdough {
  background: $white;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px $box-shadow;
  -ms-box-shadow: 0 0 10px $box-shadow;
  -o-box-shadow: 0 0 10px $box-shadow;
  box-shadow: 0 0 10px $box-shadow;
  position: relative;
}

// Toast alerts

.sourdough.alert-toast {
  display: flex;
  padding: $padding * 0.5 $padding;

  > .icon {
    float: left;
    margin-right: $padding * 0.5;
    width: $padding * 2.5;
  }

  > .alert-content {
    align-items: center;
    display: flex;
    margin: 0;
  }

  > .alert-content > h3 {
    color: $gray-dark;
    font-size: 16px;
    font-weight: 500;
  }

  > .alert-content > p {
    color: $gray-md;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }
}

// Modal alerts

.sourdough.alert-modal {
  padding: $padding * 1.5;
  text-align: center;
  transform: translate(0, 50%);
  width: $padding * 16;

  > .icon > svg {
    max-height: $padding * 10;
  }

  > .alert-content {
    margin: $padding * 1.5 0;
  }

  > .alert-content > h2 {
    color: $ez-blue-dark;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: $padding;
  }

  > .alert-content > p {
    color: $gray-md;
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .alert-wrapper {
    width: 100%;
  }

  .sourdough.alert-modal {
    width: auto;
  }
}
